.stay-page-container{
    position: relative;
}
.stay-page-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #003b95;
    width: 100%;
    height: 200px;
}

.stay-page-search{
    position: relative !important;
    left: 0;
}

.stay-page-search-result-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
}

.inner-stay-page-search-container{
    position: relative;
    /* border: 1px solid green; */
    display: flex;
    gap: 16px;
    flex-direction: row;
    width: 85%;
}

.stay-page-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.stay-page-filter{
    /* border: 1px solid black; */
    width: 25%;
}

@media screen and (max-width: 992px){
    .stay-page-nav{
        height: 150px;
    }

    .stay-page-search{
        margin-top: 8px;
        margin-left: 0;
        top: 0px;
    }

    .stay-page-search-result-container{
        margin-top: 240px;
    }
    
    .inner-stay-page-search-container{
        width: 89%;
    }

    .stay-page-filter{
        display: none;
    }
}