.stay-filter-page-container{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 4px;
}

.stay-filter-header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 4px 0px;
    >h1{
        font-size: 1.65rem;
        color: rgb(22, 22, 22);
    }
}

.stay-filter-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    >h2{
        font-size: 0.9rem;
    }
}

.stay-filter-item-1{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 4px;
    &:hover{
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
}

.stay-star-ckecked{
    color: #003b95;
    background-color: white;
    border-radius: 4px;
    width: 14px;
    height: 14px;
}

.stay-star-not-ckecked{
    color: white;
    background-color: white;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 4px;
    width: 11px;
    height: 11px;
}