.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-signup-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 2.5rem;
    >h1{
        font-size: 1.45rem;
        color: rgb(43, 43, 43);
        font-weight: 600;
    }
    >form{
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        >label{
            color: rgb(39, 38, 38);
            font-weight: 600;
            font-size: 0.845rem;
            margin-top: 0.75rem;
        }
        >input{
            margin-top: 0.4rem;
            outline: none;
            height: 2rem;
            border: 1px solid rgb(145, 143, 143);
            border-radius: 4px;
            &:focus{
                border: 2px solid #006ce4;
            }
        }
        >button{
            margin-top: 4rem;
        }
    }
}

.btn{
    height: 2.5rem;
    font-weight: 600;
    border-radius: 4px;
    background-color: #006ce4;
    color: #ebf3ff;
    border: none;
    margin-top: 4px;
}

.error{
    color: rgb(255, 0, 0);
    font-size: 0.8rem;
    font-weight: 600;
}

@media screen and (max-width: 992px){
    .inner-signup-container{
        width: 350px;
    }
}